@font-face {
  font-family: "Gamestation";
  src: url("../assets/fonts/GamestationCond.eot?") format("eot"),
    url("../assets/fonts/GamestationCond.woff") format("woff"),
    url("../assets/fonts/GamestationCond.ttf") format("truetype"),
    url("../assets/fonts/GamestationCond.svg#Gamestation-Condensed")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
