.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 5%;

  .category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    .mat-card {
      flex: 1 1 auto;
      margin: 5px;
    }
  }
}
