<div class="container">
  <div class="homepage-container">
    <h1>Diver Tecno</h1>

    <p>
      Somos un lugar donde la diversión y la tecnología se encuentran,
      diviértete en grande con tu familia y amigos.
    </p>
    <p>
      Nos enorgullece ofrecerte la tecnología de realidad virtual más avanzada y
      segura. Nuestras gafas están diseñadas para adaptarse a todas las edades y
      habilidades, para que todos puedan disfrutar de la emoción de la realidad
      virtual. Ya sea que estés buscando una emocionante aventura en solitario o
      quieras competir con tus amigos y familiares, nuestras gafas de realidad
      virtual son la atracción perfecta para ti.
    </p>
    <p>
      No esperes más para experimentar la emoción de la realidad virtual en
      Diver Tecno. ¡Visítanos hoy y vive la aventura virtual de tu vida!
    </p>

    <div class="category-container container">
      <mat-card>
        <h2 routerLink="/vr-games">Diversión</h2>
        <app-slider [slides]="gamesData" [duration]="3000"></app-slider>
      </mat-card>
      <mat-card>
        <h2 routerLink="/technology">Tecnología</h2>
        <p>
          Nos enfocamos en proporcionarte componentes de alta calidad para que
          puedas construir el computador de tus sueños. Ya sea que estés
          interesado en juegos de alta definición, aplicaciones de productividad
          o cualquier otra tarea intensiva en el rendimiento, tenemos lo que
          necesitas para llevar tu experiencia informática al siguiente nivel.
        </p>
        <a class="pc-img" routerLink="/technology">
          <img
            src="https://live.staticflickr.com/65535/52780123452_75e26ccb09_b.jpg"
            alt="computador gamer"
          />
        </a>
      </mat-card>
    </div>
  </div>
</div>
