<div class="container">
  <div class="homepage-container">
    <h1>Diver Tecno</h1>

    <p>
      Somos un lugar donde la diversión y la tecnología se encuentran,
      diviértete en grande con tu familia y amigos.
    </p>
    <p>
      Nos enorgullece ofrecerte la tecnología de realidad virtual más avanzada y
      segura. Nuestras gafas están diseñadas para adaptarse a todas las edades y
      habilidades, para que todos puedan disfrutar de la emoción de la realidad
      virtual. Ya sea que estés buscando una emocionante aventura en solitario o
      quieras competir con tus amigos y familiares, nuestras gafas de realidad
      virtual son la atracción perfecta para ti.
    </p>
    <p>
      No esperes más para experimentar la emoción de la realidad virtual en
      Diver Tecno. ¡Visítanos hoy y vive la aventura de tu vida!
    </p>

    <div class="category-container container">
      <mat-card>
        <h2>Realidad Virtual</h2>
        <app-slider [slides]="gamesData" [duration]="3000"></app-slider>
      </mat-card>
      <mat-card>
        <h2>Tecnología</h2>
      </mat-card>
    </div>
  </div>
</div>
